Version 1 
1. [x] Creating the html file and html5 boilerplate.
2. [x] create an image and js folder.
3. [x] store the banner images inside the images folder.
4. [x] Inside the js folder create 3 js files(index.js, slider.js, product.js).
5. [x] Get all external stylesheet and scripts for (favicon, google fonts, font awesome, animate.css, glide.css and glide.js).
6. [x] Create a custom stylesheet.
7. [x] link our custom stylesheet and scripts.

Version 2
1. [x] With the universal selector set some default style
2. [x] In custom stylesheet create a root style to define our variable.
3. [x] Set some default style for html, ul, a and others.
4. [x] set up the container style and its media quaries.

Version 3
1. [x] Create the header element in html and put the navigation section under it.
2. [x] style the entire section.
3. [x] Open up the index.js file and write some javascript to toggling navigation bar in the smaller screen.

Version 4
1. [x] Create the hero section and use the glide.js for sliding image.