/* Globar Styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font: "Poppins", sans-serif;
  --secondar-font: "Merriweather", serif;
  --main-heading-font: "Amiri", serif;
  --primary-color: #99173c;
  --white: #fff;
  --balck: #222;
  --grey: #444;
  --light-white: #f3ecee;
  --yellow: #ffd800;
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--balck);
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--white);
  font-size: 1.6rem;
  font-weight: 400;
  z-index: -1;
  height: 100vh;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--balck);
}

img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

/* ======================
     HEADER STARTS HERE
========================= */

.navigation {
  padding: 1.6rem 0;
  background-color: #000;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* fix-nav class will trigger with javascript */
.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  background-color: var(--white);
  color: #000;
  box-shadow: 0 5px 15px rgba(255, 255,255, 0.6);
}

.logo {
  color: var(--white);
  letter-spacing: 2px;
}

.logo span {
  color: var(--primary-color);
}

.nav-menu-toggle {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0 0.2rem;
  font-size: 1.5rem;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: -1px;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background-color: var(--primary-color);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: left;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-icons span:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-icons span {
  font-size: 1.6rem;
  border-radius: 50%;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
}

.nav-icons span:hover {
  background-color: var(--primary-color);
}

.nav-icons i {
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.hamburger {
  display: none;
}

/* ======================
HERO STARTS HERE
========================= */

.hero,
.glide__hero,
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--light-white);
}

.banner-content {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
}

.banner-content span {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--grey);
  letter-spacing: 1px;
  margin-right: -1px;
  margin-bottom: 1rem;
}

.banner-content h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.banner-content h4 {
  font-weight: 400;
  color: var(--grey);
  margin-bottom: 2rem;
}

.button-group button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--balck);
  outline: none;
  padding: 1rem 3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}

.button-group button:first-child {
  background-color: var(--balck);
  color: var(--white);
}

.button-group button:first-child:hover {
  background-color: var(--white);
  color: var(--balck);
}

.button-group button:last-child:hover {
  background-color: var(--balck);
  color: var(--white);
}
.banner img {
  position: absolute;
  bottom: 0;
}

.banner img.banner-img-1 {
  width: 85rem;
  right: -5%;
}
.banner img.banner-img-2, 
.banner img.banner-img-3 {
  width: 100rem;
  right: -10%;
}

/* glide pointers style */
/* .glide__arrows {
  top: 50%;
} */

.glide__arrow {
  position: absolute;
  top: 50%;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  padding: 1.3rem 1.5rem;
  border-radius: 50%;
  font-size: 1.6rem;
  color: var(--white);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* .glide__arrow:hover {
  background-color: transparent;
  color: #000;
} */

.glide:hover .glide__arrow {
  visibility: visible;
  opacity: 1;
}

.glide__arrow--left {
  left: 3%;
}

.glide__arrow--right {
  right: 3%;
}

/* ======================
MEDIA QUARIES STARTS HERE
========================= */

/* MEDIA QUARIES FOR 1200PX*/
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
  /* hero section */
  .hero,
  .glide__hero,
  .banner {
  height: 90vh;
}
.banner img.banner-img-1 {
  width: 60rem;
}
.banner img.banner-img-2, 
.banner img.banner-img-3 {
  width: 70rem;
}

}

@media only screen and (max-width: 996px) {
  /* header/navigation section */
  .nav-item:not(:last-child) {
    margin: 0.3rem;
  }
  .nav-item {
    padding: 0 0.5rem;
  }
  .nav-link {
    font-size: 1.4rem;
  }
  .nav-icons span {
    font-size: 1.2rem;
  }

  /* hero section */
  .hero,
  .glide__hero,
  .banner {
  height: 60vh;
}
  .banner-content {
    width: 60%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner img.banner-img-1,
  .banner img.banner-img-2 {
    left: 50%;
    width: 50rem;
    transform: translateX(-50%);
  }
  .banner img.banner-img-3 {
    left: 55%;
    width: 50rem;
    transform: translateX(-50%);
  }
}

/* MEDIA QUARIES FOR 768PX*/
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5rem;
  }
  /* header/navigation section */
  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    background-color: var(--white);
    transition: all 0.5s linear;
  }
  .nav-menu.show {
    left: 0;
  }
  .nav-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 2rem;
    background-color: var(--primary-color);
  }

  .nav-menu-toggle .logo h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--white);
    letter-spacing: 1px;
    margin-right: -1px;
  }
  .nav-menu-toggle .logo h1 span {
    color: var(--white);
  }

  .close {
    font-size: 2rem;
    color: var(--white);
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0;
  }

  .nav-item:not(:last-child) {
    margin-bottom: 1rem;
  }

  .nav-link {
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem 2rem;
  }

  .nav-icons span {
    display: none;
    border: none;
    font-size: 1.6rem;
  }

  .nav-icons span:last-child {
    display: block;
  }
  .hamburger {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--white);
  }

  /* hero section */
  .banner-content {
    width: 90%;
    text-align: center;
  }
}

@media only screen and (max-width: 567px) {
  /* hero section */
  .hero,
  .glide__hero,
  .banner {
  height: 95vh;
}
  .banner-content h1 {
    font-size: 3rem;
  }

  .banner-content h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .button-group button  {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    margin: 1rem;
  }

}
